header{
 	background-color:green;
 	color:white; 
}
body{
	background-color: gray;
	color:orange;

}
.sandbox-container{
    width:50%;
	margin:auto;
	padding:2%;
	border:solid black 3px;
	overflow-y: scroll;
	background-color: white;
	color:black;
}

.category-box{
	border: solid black 5px;
	border-radius: 8px;
	padding: 2%;
	margin:2%;
}