<div class="sandbox-container">

    <div class="challenges-group">
        <h3>Servers Challenges</h1>
        <!-- ERB PARTIAL FOR AR CHALLENGES -->
    </div>

    <div class="challenges-group">
        <h3>Routes Challenges</h1>
        <!-- ERB PARTIAL FOR AR CHALLENGES -->
    </div>

    <div class="challenges-group">
        <h3>Active Record Challenges</h1>
        <!-- ERB PARTIAL FOR AR CHALLENGES -->
    </div>

    <div class="challenges-group">
        <h3>CRUD CHallenges</h1>
        <!-- ERB PARTIAL FOR AR CHALLENGES -->
    </div>

    <div class="challenges-group">
        <h3>OOJS Challenges</h1>
        <!-- ERB PARTIAL FOR AR CHALLENGES -->
    </div>


    <div class="challenges-group">
        <h3>User Auth Challenges</h1>

         <%#=ar_challenges.each do |challenge|  %>
         <li> <%#= challenge %> </li>
           <%# end %>

        <!-- ERB PARTIAL FOR AR CHALLENGES -->
    </div>

    <div class="challenges-group">
        <h3>OOJS Challenges</h1>
        <!-- ERB PARTIAL FOR AR CHALLENGES -->
    </div>

    <div class="challenges-group">
        <h3>APIs Challenges</h1>
        <!-- ERB PARTIAL FOR AR CHALLENGES -->
    </div>

    <div class="challenges-group">
        <h3>AJAX Challenges</h1>
        <!-- ERB PARTIAL FOR AR CHALLENGES -->
    </div>

</div>
