
<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="#">DBC DRILL INSTRUCTOR</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <% if current_user %>
            <ul class="nav navbar-nav navbar-right">
            	<li><a href="/users/<%= current_user.id %> ">Profile Page</a>
                <li><a href="/logout"> <%=current_user.username%> | logout</a>
                </li>
            </ul>
            <% else %>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/sessions/new">login</a>
                <li><a href="/users/new">Register</a></li>
                </li>
            </ul>
            <% end %>
        </div>
    </div>
</div>


